main{
    min-height: 80vh;
}

h3{
    padding: 1rem 0;
}

.rating span{
    margin: 0.1rem;
}

.header-links{
    justify-content: end;
}

.message-alert{
    text-align: center;
}

.qty-selector{
    text-align: center;
}
